

#top, #bottom, #left, #right {
	background: #3d3d3d;
	position: fixed;
    z-index: 1000;
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 25px;
}
#top { top: 0; }
#bottom { bottom: 0; }



html, body {
    height: 100%;
}

 .container-fluid { 
    min-height: 100%;
    height: 100%;
 width: 100%;
    height: 100%;
    min-height: 100%;
    background: #e0e0e0;

}
.container{
    margin-top: 10%;

}
html header h1{
	text-transform: uppercase;
	color: #3d3d3d;
	font-size: 8em;
	position: absolute; left: 15px; bottom: 15px;
	margin-top:0px;
	margin-bottom: 0px;
	display: flex;
	font-weight: 600;
	padding-right: 50px;
	z-index: 1001;
}

* {
   margin: 0px;
   padding: 0px;
}

html, body {
   width: 100%;
   height: 100%;
}

.wrap {
  margin-top: 150px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-color: #000;
  border: solid 1px #eeeeee;
  color: #ffffff;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}
@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.animation{
  animation: rotate 20s infinite linear;
}
.currentPage {
  color: white;
  padding: 40px;   
}
.animation:hover{
    -webkit-animation-play-state:paused; !important
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

.active {
    background-color: blue;
    z-index: 10001;
    position: relative;
    transform: translateZ(101px) translateX(0px) translateY(0px) rotateX(0deg) rotateY(0deg);
    
}

button {
    margin-right: 50px;
    position:absolute; top:0; right:0;    

    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.cubeName {
  text-align: center;

  
}
.black{
  background-color: black;
}